body {
  box-sizing: border-box;
  background: url('../images/geometry.png') repeat top;
  color:#373737;
  font-size: 16px;
  font-family: 微软雅黑, 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6, p, dl {
  padding: 0;
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 60px;
}
h3 {
  margin: 55px auto 10px;
  width: 200px;
  font-size: 30px;
  color: #e94164;
  border-bottom: 2px solid #e94164;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 14px;
  line-height: 30px;
}
dl {
  text-align: center;
}
section > dl {
  margin-top: 40px;
}
dt {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 40px;
  border-bottom: 1px dashed #000;
}
dd {
  margin-top: 20px;
}
dd a {
  display: inline-block;
  width: 190px;
  height: 48px;
  background: url('../images/href-icon.png') 0 0 no-repeat;
}
dd a:hover {
  background-position: -191px 0;
}
img {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  border: 5px solid #f0c2cc;
  border-radius: 739px;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

.outer {
  width: 700px;
  margin: 0 auto;
}
#header_wrap {
  margin-top: 60px;
  text-align: center;
  color: #e94164;
}
.line-border {
  border-top: 1px solid #e94164;
  border-bottom: 1px solid #e94164;
  padding: 5px 0;
}

#header_wrap img {
  margin: 50px auto 30px;
}
.project-title-icon {
  display: inline-block;
  margin-right: 10px;
  width: 27px;
  height: 27px;
  background: url('../images/project-title.png') left center no-repeat;
  vertical-align: middle;
}
.icon-1 {
  background-position: 0 0;
}
.icon-2 {
  background-position: -27px 0;
}
.icon-3 {
  background-position: -54px 0;
}
.icon-4 {
  background-position: -81px 0;
}

#footer_wrap {
  margin-top: 50px;
  height: 150px;
  background: url('../images/footer-background.png') 0 bottom repeat-x;
}
.social_wrap {
  margin: 0 auto;
  width: 180px;
}
.social-icon {
  display: inline-block;
  width: 85px;
  height: 85px;
  background: url('../images/social-icon.png') 0 0 no-repeat;
}
.icon-github {
  background-position: 0 0;
}
.icon-github:hover {
  background-position: -85px 0;
}
.icon-weibo {
  background-position: 0 -85px;
}
.icon-weibo:hover {
  background-position: -85px -85px;
}